body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    margin: 50px 0;
    padding: 0;
		color: #332;
		background-color: rgb(245, 245, 245);
}

a, a:visited, a:active {
  color: #332;
	font-size: 1.2em;
}

#outer {
  width: 1024px;
  margin: 0 auto;    
}

.board svg {
	border: 1px dashed #444;
	background-color: rgb(240, 240, 240);
}

.nonboard {
	float: right;
	width: 240px;
}

.item {
  padding: 4px;
	line-height: 36px;
}

.item .name {
    width: 300px;
    font-size: 1.3em;
}

.selected {
  background-color: #8c4;
}

.bolded {
	font-weight: bold;
}

.details, .none {
    font-weight: bold;
/*    font-size: 2em;*/
    border-style: dashed none none none;
    border-color: #ccc;
    border-width: 4px;
    margin: 50px 10px;
    padding: 10px 0px;
}

.none {
    color: #777;
}

.inc {
  cursor: pointer;
}

.modal {
  border-style: dashed;
  border-color: #444;
	border-width: 2px;
	padding: 10px 10px 10px 10px;
	margin-bottom: 50px;
}

.modalHeader button {
	float: right;
}

.boardListItem {
	display: block;
	height: 33px;
	padding-top: 8px;
	padding-left: 8px;
}
.boardListItemLabel {
	font-size: 1.2em;
}

#boardList {
	border: 1px dashed black;	
}

#boardListHeader {
	font-weight: bold;
}

.sum {
	font-weight: bold;
	font-size: 1.8em;
	fill: #f80;
}

.box-title {
	font-weight: 500;
	font-size: 1.4em;
	fill: #8c4;
}

.metadataLabel {
	font-size: 0.9em;
}

.metadataLabel.private {
	color: #a24;
}

.metadataLabel.read-only {
	color: #a24;
}

.alert-error {
	background-color: #d20;
}

.delete {
	color: #d20;	
}

.explanation {
/*	font-size: 0.95em;
*/	background-color: #fc8;
}

.instruction {
/*	font-size: 0.95em;
*/	background-color: #ff6;
}

.loading {
	font-weight: bold;
	font-style: italic;
	background-color: #fe4;
	padding: 10px 10px 10px 10px;
	margin: 4px 4px 4px 4px;
}

.rightJustified {
	float: right;
	margin-right: 1.5em;
}

.rightFloat {
	float: right;
}

.titleInput {
/*	font-size: 1.2em;
*/}

.scoreInput {
	font-weight: bold;
/*	font-size: 1.2em;
*/}

.close {
	float: right;
}

.boardForm {
	line-height: 2em;
	background-color: white;
}

.boardForm label {
/*	font-size: 0.9em;
*/	line-height: 2.4em;
}

.featuredURL {
	line-height: 1.75em;
	background-color: rgba(255, 255, 240, 0.5);
	font-size: 0.9em;
	color: #332;
	font-weight: 300;
	padding: 3px 3px 3px 3px;
	margin: 3px 3px 3px 3px;
}

.attribution a, .attribution a:visited, .attribution a:active {
	font-size: 1.1em;
}
.attribution {
	margin-bottom: 1em;
	padding: 0.5em 0.5em 0.5em 0.5em;
	font-size: 1em;
	max-width: 768px;
}

.boardMetadataSection ul {
	margin-top: 4px;
	margin-bottom: 0px;
}