body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    margin: 50px 0;
    padding: 0;
		color: #332;
		background-color: rgb(245, 245, 245);
}

a, a:visited, a:active {
  color: #222;
	font-size: 1.2em;
}

#outer {
  width: 1024px;
  margin: 0 auto;    
}

.board svg {
	border: 1px dashed #444;
	background-color: rgb(240, 240, 240);
}

.nonboard {
	float: right;
	width: 240px;
}

.item {
  padding: 4px;
	line-height: 36px;
}

.item .name {
    width: 300px;
    font-size: 1.3em;
}

/*.item .score {
    display: inline-block;
    text-align: right;
    font-size: 1.3em;
    font-weight: bold;
    color: #777;
		float: right;
}
*/

.selected {
  background-color: #8c4;
}

.details, .none {
    font-weight: bold;
    font-size: 2em;
    border-style: dashed none none none;
    border-color: #ccc;
    border-width: 4px;
    margin: 50px 10px;
    padding: 10px 0px;
}

.none {
    color: #777;
}

.inc {
  cursor: pointer;
}

.modal {
  border-style: dashed;
  border-color: #444;
	border-width: 2px;
	padding: 10px 10px 10px 10px;
	margin-bottom: 50px;
}

.modalHeader button {
	float: right;
}

.boardListItem {
	display: block;
	height: 44px;	
}
.boardListItemLabel {
	font-size: 1.2em;
}

#boardList {
	border: 1px dashed black;	
}

#boardListHeader {
	font-weight: bold;
}

.sum {
	font-weight: bold;
	font-size: 1.8em;
	fill: #f80;
}

.box-title {
	font-weight: 500;
	font-size: 1.4em;
	fill: #8c4;
}

.visibility-label {
	font-size: 0.9em;
}

.visibility-label.private {
	color: #a24;
}

.writability-label {
	font-size: 0.9em;
}

.writability-label.read-only {
	color: #a24;
}

.alert-error {
	background-color: #d20;
}

.delete {
	color: #d20;	
}

.explanation {
	font-size: 0.95em;
	background-color: #fc8;
}

.instruction {
	font-size: 0.95em;
	background-color: #ff6;
}

.loading {
	font-weight: bold;
	font-style: italic;
	background-color: #fe4;
	padding: 10px 10px 10px 10px;
	margin: 4px 4px 4px 4px;
}

.rightJustified {
	float: right;
	margin-right: 1.5em;
}

.rightFloat {
	float: right;
}

.titleInput {
	font-size: 1.2em;
}

.scoreInput {
	font-weight: bold;
	font-size: 1.2em;
}

.close {
	float: right;
}

.boardForm {
	line-height: 2em;
	background-color: white;
}

.boardForm label {
	font-size: 0.9em;
	line-height: 2.4em;
}